
/buildsolutions
/build
/deploy
/package
bin/
obj/
src/merged_tests/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
bin/*/*.exe
*.pdb
*.pidb
*.user
*.aps
*.pch
*.docstates
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.dbmdl
*.schemaview
*.tlh
*.bak
*.ncrunchsolution
*.ncrunchproject
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.docstates
seq diagram1.png
StyleCop.Cache
/tools/[cC]ode[aA]nalysis/
/tools/[sS]tyle[cC]op/
seq diagram1.vsd
v3rebuild.bat
v3startFitness.bat
v3unitTests.bat
*.swp
*.*~
*.gpState
*.ReSharper.*
*.preflight
#*.dotCover - The Configuration of unit test exclusions should be shared
*.orig
src/common/Wonga.Common.1.1.dotCover
src/components/CallReport/Wonga.CallReport.1.1.dotCover
src/components/Equifax/Wonga.Equifax.1.1.dotCover
src/components/Experian/Wonga.Experian.1.1.dotCover
src/components/Graydon/Wonga.Graydon.1.1.dotCover
*.dotCover
NDependOut/
*.ndproj
src/SyncToy_*.dat
SyncToy_*.dat
origin/za-Release
src/payments/Wonga.Payments.jtconfig
src/components/BankValidate/Reports/
src/components/Payments.Accounting/Reports/
src/components/Payments.ColdStorage/Reports
src/components/Payments.PrepaidCard/Reports
src/components/WongaPay/Reports/
src/payments/Reports/
src/components/Payments.Merchants/Wonga.Payments.Merchants.PayLater.In/packages/**
src/components/Payments.PayLater/Wonga.Payments.PayLater.In/packages/**
src/balances/LoanOperations.ServiceTests/packages/**
/src/components/Payments.Accounting/Wonga.Payments.Accounting.Website/Logs
src/components/Payments.PayLater/Wonga.Payments.PayLater.In/merged_tests
src/components/Payments.Merchants/Wonga.Payments.Merchants.PayLater.In/merged_tests
src/components/Payments.Merchants/merged_tests
src/payments/merged_tests
src/components/Payments.ServiceTests/packages
src/components/*/packages/*
src/payments/packages/*
!src/components/*/packages/repositories.config
!src/payments/packages/repositories.config
src/payments/*/packages/*
src/payments/packages/*
src/internalmessages/packages/*
!src/internalmessages/packages/repositories.config
_ConversionReport_Files/
_temp
src/balances/lib/DeLorean.Nsb2Service/Logs/*
src/balances/lib/DeLorean.Nsb2.Host/Logs/*
src/balances/LoanOperations.ServiceTests/.output/*
src/balances/LoanOperations.ServiceTests/.build/.output/*
_NCrunch*
*.sln.DotSettings
*NuGet.exe
src/payments/.build/Generated.*.nuspec
src/payments/.output/
src/.output/
src/packages/
